.App {
  padding-top: 45px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.m_t_sm {
  margin-top: 8px;
}

.btn-group__cart-actions span {
  margin-right: 8px;
}

.btn-group__cart-actions i {
  cursor: pointer;
}